// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:   #12b0c5;

$title-color:        rgba(255, 255, 255, 0.7);
$service-up-color: rgba(97, 97, 97, 0.7);
$service-down-color:   rgba(158, 59, 54, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-appledev {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  ul {
    margin: 45px 15px;
    text-align: left;
    font-size: 20px;
  }

  li {
    margin-bottom: 5px;
  }

  .appledev-nostyle {
    list-style: none;
  }

  .service-up {
    color: $service-up-color;
  }

  .service-down {
    color: $service-down-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
}
